# add git-ignore syntax here of things you don't want copied into docker image

.git

*Dockerfile*
*docker-compose*

node_modules
node_modules/

settings.js
test.js

README.md

images
images/

*.db
*.log*

logs
logs/
